@font-face {
  font-family: 'Roboto-med';
  src: url('../fonts/fonts/Roboto-Medium.eot');
  src: url('../fonts/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/fonts/Roboto-Medium.woff') format('woff'),
  url('../fonts/fonts/Roboto-Medium.ttf') format('truetype'),
  url('../fonts/fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-semibold';
  src: url('../fonts/fonts/Raleway-SemiBold.eot');
  src: url('../fonts/fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/Raleway-SemiBold.woff2') format('woff2'),
  url('../fonts/fonts/Raleway-SemiBold.woff') format('woff'),
  url('../fonts/fonts/Raleway-SemiBold.ttf') format('truetype'),
  url('../fonts/fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-extra';
  src: url('../fonts/fonts/Raleway-ExtraBold.eot');
  src: url('../fonts/fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/Raleway-ExtraBold.woff2') format('woff2'),
  url('../fonts/fonts/Raleway-ExtraBold.woff') format('woff'),
  url('../fonts/fonts/Raleway-ExtraBold.ttf') format('truetype'),
  url('../fonts/fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-reg';
  src: url('../fonts/fonts/Roboto-Regular.eot');
  src: url('../fonts/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/fonts/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$reg: 'Roboto-reg';


$roboto: 'Roboto-med';

$primary-font: 'Roboto-med';
$caps-font: 'Raleway-semibold';
$extra-font: 'Raleway-extra';